<div class="sidebar-mini skin-blue">
  
  <div #wrapper class="wrapper">

    <!-- Main Header -->
    <app-main-top-navbar [authState]="(authState$ | async)"></app-main-top-navbar>

    <!-- Left side column. contains the logo and main sidebar -->
    <aside app-main-sidebar class="main-sidebar" [user]="(authState$ | async)?.user"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div #contentWrapper class="content-wrapper">
      <ng-content></ng-content>
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer app-main-footer class="main-footer"></footer>

    <!-- Control Sidebar -->
    <aside app-control-sidebar class="control-sidebar control-sidebar-dark"></aside>

    <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->
</div>