<div class="hold-transition fixed skin-blue layout-top-nav">
  <div class="wrapper" [ngStyle]="{'height.px': viewPortHeight}">

    <header #header class="main-header">
      <nav class="navbar navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="/" class="navbar-brand"><b>{{ app_fullname }}</b></a>
            <button (click)="collapseNavBar = !collapseNavBar"
                    type="button"
                    class="navbar-toggle">
            <i class="fa fa-bars"></i>
          </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div [collapse]="collapseNavBar" class="collapse navbar-collapse pull-left">

            <ul class="nav navbar-nav">
              <li *ngIf="(authState$ | async)?.loggedIn"><a routerLink="/welcome" translate>SHELL.Dashboard</a></li>
            </ul>

            <!-- Search Form -->
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" id="navbar-search-input" placeholder="{{ 'SHELL.Search' | translate }}">
              </div>
            </form>

          </div>
          <!-- /.navbar-collapse -->

          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li dropdown>
                <a role="button" dropdownToggle translate>SHELL.Lang</a>
                <!-- mark with this asterisk the active lang -->
                <ng-template #activeLangMark>
                   <small class="pull-right glyphicon glyphicon-asterisk active-lang"></small>
                </ng-template>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                  <li role="menuitem"><a role="button" (click)="changeLang('en')" class="dropdown-item"><span translate>SHELL.English</span><span *ngIf="activeLang != 'en'; else activeLangMark"></span></a></li>
                  <li role="menuitem"><a role="button" (click)="changeLang('es')" class="dropdown-item"><span translate>SHELL.Spanish</span><span *ngIf="activeLang != 'es'; else activeLangMark"></span></a></li>
                </ul>
              </li>
            </ul>
              
            <!-- User Account Menu -->
            <app-user-menu
                *ngIf="(authState$ | async)?.loggedIn"
                [user]="(authState$ | async)?.user"
                class="nav navbar-nav"></app-user-menu>
            
            <ul *ngIf="!(authState$ | async)?.loggedIn" class="nav navbar-nav">
              <li><a class="login-link" routerLink="/auth/login" translate>SHELL.Login</a></li>
              <li><a class="sign-up-link" routerLink="/auth/register" translate>SHELL.Sign up</a></li>
            </ul>

          </div>
          <!-- /.navbar-custom-menu -->
        </div>
        <!-- /.container-fluid -->
      </nav>
    </header>

    <!-- Full Width Column -->
    <div #wrapper class="content-wrapper">
      <!-- Page content -->
      <ng-content class="container-fluid"></ng-content>
      <!-- /.container -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer app-main-footer class="main-footer"></footer>

  </div>
  <!-- ./wrapper -->

</div>